# Variables de entorno 
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Respaldos locales
metrics/metrics_pre_bonus_backup.csv

